<div class="jumbotron mt-4">
  <h1 class="display-4">Un lugar fuera de lo comun</h1>
  <p class="lead">Si buscas un lugar donde leer lo politicamente correcto... este no es tu lugar</p>
  <hr class="my-4">
  <p>No me importan las banderas piliticas, ni los colores de sus camisetas.</p>
  <p>No tengo religion ni creencia de algun tipo, respeto a quien lo tenga.. mientras no intente convencerme de lo que no creo.</p>
  <a class="btn btn-primary btn-lg" href="/about">Enterate!</a>
</div>
<br>
<div class="row">
<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h3>El futbol</h3>
    </div>
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-between align-items-center">
      </h4>
      <p>Parte</p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h3>Mis pasiones</h3>
    </div>
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-between align-items-center">
      </h4>
      <p>Parte</p>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h3>Proyecto Domino</h3>
    </div>
    <div class="card-body">
      <h4 class="card-title d-flex justify-content-between align-items-center">
      </h4>
      <p>Parte</p>
    </div>
  </div>
</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <p>Section</p>
      </div>
      <div class="card-body">
        <p>Parte</p>
      </div>
    </div>
  </div>

</div>
