<br>
<div class="jumbotron">
  <h1 class="display-4">Bienvenidos a S.D.I.</h1>
  <p class="lead">Pequeño sistema para el registro de incidencias y asociarlas al departamento y especialista que corresponde</p>
  <hr class="my-4">
  <p>Construido en NODE y MONGO DB como base de datos. BOOTSTRAP como framework para las interfaces.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Documentacion</a>
</div>
