<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <i class="fas fa-sign-in-alt fa-8x"></i>
            </div> 
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="email@email" name="email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="password" name="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
